<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [102]:
import geocoder
from scipy.stats import norm
import requests, zipfile, io, os
import datetime as dt
import pandas as pd
import numpy as np
import seaborn as sns
import sys, typing
from bs4 import BeautifulSoup
import requests
from matplotlib import pyplot as plt
import matplotlib.image as mpimg
import matplotlib.dates as mdates
from typing import List, Tuple
r = requests.get('https://www.ssa.gov/oact/babynames/names.zip')
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall("names")

In [188]:
# Import dataset of users with age, profession, height, location, and gender 
actual = pd.read_csv("actual_data.csv").drop(columns=['Link', 'Id'])
actual["Location"] = actual["Location"].str.split(",|/").str[0].str.strip()
actual["Location"] = actual["Location"].str.split("and").str[0].str.strip()
actual["Location"] = actual["Location"].replace({"Roch": "Rochester"})
actual["Location"] = actual["Location"].replace({"NYC": "New York City"})
actual["Location"] = actual["Location"].replace({"West Michigan" : "Michigan"})
actual["Gender"] = actual["Gender"].replace({"She/her": "F"})
actual["Gender"] = actual["Gender"].replace({"She.her": "F"})
actual["Gender"] = actual["Gender"].replace({"They/she": "F"})
actual["Gender"] = actual["Gender"].replace({"She/they": "F"})
actual["Gender"] = actual["Gender"].replace({"He/him": "M"})
actual["Gender"] = actual["Gender"].replace({"He/Him": "M"})
actual.loc[actual["Name "] == "Bobby", "Gender"] = "M"
actual.loc[actual["Name "] == "Sophia", "Gender"] = "F"

actual["Name"] = actual["Name "]
actual = actual.drop(columns=["Name "])
states = pd.read_csv("csvData.csv")[["State", "Pop"]]
print(actual)

    Age Height Gender        Location  \
0    22    6'0      F           Texas
1    24    5'2      F       Las Vegas
2    13    5'9      F           Texas
3    14    5'1      F      New Jersey
4    24    5'1      F        Illinois
5    17    5'5      F     Kansas City
6    21    5'3      F      Pittsburgh
7    29    5'2      F      Washington
8    20    5'0      F           Texas
9    23    5'6      F       Kalamazoo
10   22    5'6      F         Florida
11   16    5'6      F            Utah
12   27    6'3      M            Reno
13   18    5'6      F      California
14   24  5'5.9      F       Rochester
15   36    5'9      M   Moreno Valley
16   18    5'4      F        Kentucky
17   29    5'4      F        Illinois
18   16    6'0      M        New York
19   22    5'0      F          Kansas
20   20   5'10      M            Ohio
21   30    5'3      F          Alaska
22   28    5'8      F      New Jersey
23   19    5'9      F       Vancouver
24   24    5'6      F  North Carolina
25   29   5'10      F       Louisiana
26   15    5'1      F       Minnesota
27   15    5'2      F         Florida
28   32    5'5      F      New Jersey
29   23    5'6      F           Haiti
30   15    5'9      M     Kansas City
31   21    6'3      M         Indiana
32   19    5'7      F       Tennessee
33   15    5'9      M  North Carolina
34   21   5'11      F      California
35   18    5'2      F      California
36   24    5'5      M         Florida
37   18    5'4      F      New Jersey
38   23    5'6      F        Nebraska
39   18   5'11      M   New York City
40   19    5'6      F      California
41   18    5'4      F            Ohio
42   35    5'5      F       Rochester
43   19    5'5      F      New Mexico
44   31    5'5      F        Michigan
45   17    6'2      M         Florida
46   27    5'0      F      California
47   25    5'8      F      California
48   24    5'6      F          Oregon
49   14    5'2      F        Illinois

                                           Profession                 Name
0                         Advanced EMT soon Paramedic               Brandy
1                                             Teacher          Sofia Bella
2                                             Student                Rayna
3                                          Influencer             Pressley
4                                         Hairstylist              Theresa
5                                               Sonic  Madilyn Rose Hocker
6                                      Spanish Teacer             Lillian
7                                  Military Recruiter                Emily
8                                   Youtuber/Tiktoker               Camryn
9                    Grad student and Content Creator           Anna Sitar
10                                             Artist                 Lana
11                                        Teach Dance               Kynzie
12                           Editor at a news station              Brandon
13                      Undergrad linguistics studies               Sophia
14                                    Content Creator                 Nora
15                                             Waiter               Joseph
16                                         babysitter               Lauren
17                                Third grade teacher                Sarah
18                                            Student                Ethan
19                                Fifth grade teacher            Ms. Lopez
20                                   Volleyball coach                Bobby
21                                   Machine Operator                 Keni
22                                                NaN              Rachael
23                                             school                Paige
24                                             School                 Emma
25                                    Content Creator                Danah
26                                Modeling and Acting           Ava Justin
27                                             School               Amelia
28                          Video Editor/Photographer                 Dori
29        Program Coordinator and Community Organizer            Elizabeth
30                                             School                Mikey
31  International Politics and Math Student at Geo...                  Zev
32                                     Hooters server               Cahrli
33                                            Student                Logan
34                                      Data Analysis               Olivia
35                                   Dancer and Actor          Kaycee Rice
36                                   McDonalds worker                 Gray
37                                             School               Meagan
38                                          Care Tech               Maggie
39                                      Discount Tire                   CJ
40                                           Musician              Margaux
41                                         Chic-fil-a               Hannah
42                          Model and Content Creator             Juliette
43                                            Youtube                Chloe
44                        Middle School Choir Teacher                Taryn
45                                             School                 Trey
46                               Kindergarten Teacher               Carina
47                                   Finacial Analyst                Katie
48                               Kindergarten Teacher                 Madi
49                                             school               REAGAN

In [189]:
import qwikidata
import qwikidata.sparql

def get_city_wikidata(city, country):
    query = """
    SELECT ?city ?cityLabel ?country ?countryLabel ?population
    WHERE
    {
      ?city rdfs:label '%s'@en.
      ?city wdt:P1082 ?population.
      ?city wdt:P17 ?country.
      ?city rdfs:label ?cityLabel.
      ?country rdfs:label ?countryLabel.
      FILTER(LANG(?cityLabel) = "en").
      FILTER(LANG(?countryLabel) = "en").
      FILTER(CONTAINS(?countryLabel, "%s")).
    }
    """ % (city, country)

    res = qwikidata.sparql.return_sparql_query_results(query)
    out = res['results']['bindings'][0]
    return out

In [190]:
# Location


import math
import geonamescache
gc = geonamescache.GeonamesCache()
num_unique = []
for i, row in enumerate(actual.iterrows()):
    g = gc.search_cities(row[1]["Location"])
    if not g:
        try:
            g = get_city_wikidata(row[1]["Location"], 'America')
        except:
            try: 
                g = states[states["State"] == row[1]["Location"]]["Pop"].iloc[0]
            except:
                g = float("NaN")      
    else:
        g = int(g[0]["population"])
    if isinstance(g, dict):
        g = int(g['population']['value'])
    num_unique.append(g)

actual["unique"] = num_unique
print(actual)

    Age Height Gender        Location  \
0    22    6'0      F           Texas
1    24    5'2      F       Las Vegas
2    13    5'9      F           Texas
3    14    5'1      F      New Jersey
4    24    5'1      F        Illinois
5    17    5'5      F     Kansas City
6    21    5'3      F      Pittsburgh
7    29    5'2      F      Washington
8    20    5'0      F           Texas
9    23    5'6      F       Kalamazoo
10   22    5'6      F         Florida
11   16    5'6      F            Utah
12   27    6'3      M            Reno
13   18    5'6      F      California
14   24  5'5.9      F       Rochester
15   36    5'9      M   Moreno Valley
16   18    5'4      F        Kentucky
17   29    5'4      F        Illinois
18   16    6'0      M        New York
19   22    5'0      F          Kansas
20   20   5'10      M            Ohio
21   30    5'3      F          Alaska
22   28    5'8      F      New Jersey
23   19    5'9      F       Vancouver
24   24    5'6      F  North Carolina
25   29   5'10      F       Louisiana
26   15    5'1      F       Minnesota
27   15    5'2      F         Florida
28   32    5'5      F      New Jersey
29   23    5'6      F           Haiti
30   15    5'9      M     Kansas City
31   21    6'3      M         Indiana
32   19    5'7      F       Tennessee
33   15    5'9      M  North Carolina
34   21   5'11      F      California
35   18    5'2      F      California
36   24    5'5      M         Florida
37   18    5'4      F      New Jersey
38   23    5'6      F        Nebraska
39   18   5'11      M   New York City
40   19    5'6      F      California
41   18    5'4      F            Ohio
42   35    5'5      F       Rochester
43   19    5'5      F      New Mexico
44   31    5'5      F        Michigan
45   17    6'2      M         Florida
46   27    5'0      F      California
47   25    5'8      F      California
48   24    5'6      F          Oregon
49   14    5'2      F        Illinois

                                           Profession                 Name  \
0                         Advanced EMT soon Paramedic               Brandy
1                                             Teacher          Sofia Bella
2                                             Student                Rayna
3                                          Influencer             Pressley
4                                         Hairstylist              Theresa
5                                               Sonic  Madilyn Rose Hocker
6                                      Spanish Teacer             Lillian
7                                  Military Recruiter                Emily
8                                   Youtuber/Tiktoker               Camryn
9                    Grad student and Content Creator           Anna Sitar
10                                             Artist                 Lana
11                                        Teach Dance               Kynzie
12                           Editor at a news station              Brandon
13                      Undergrad linguistics studies               Sophia
14                                    Content Creator                 Nora
15                                             Waiter               Joseph
16                                         babysitter               Lauren
17                                Third grade teacher                Sarah
18                                            Student                Ethan
19                                Fifth grade teacher            Ms. Lopez
20                                   Volleyball coach                Bobby
21                                   Machine Operator                 Keni
22                                                NaN              Rachael
23                                             school                Paige
24                                             School                 Emma
25                                    Content Creator                Danah
26                                Modeling and Acting           Ava Justin
27                                             School               Amelia
28                          Video Editor/Photographer                 Dori
29        Program Coordinator and Community Organizer            Elizabeth
30                                             School                Mikey
31  International Politics and Math Student at Geo...                  Zev
32                                     Hooters server               Cahrli
33                                            Student                Logan
34                                      Data Analysis               Olivia
35                                   Dancer and Actor          Kaycee Rice
36                                   McDonalds worker                 Gray
37                                             School               Meagan
38                                          Care Tech               Maggie
39                                      Discount Tire                   CJ
40                                           Musician              Margaux
41                                         Chic-fil-a               Hannah
42                          Model and Content Creator             Juliette
43                                            Youtube                Chloe
44                        Middle School Choir Teacher                Taryn
45                                             School                 Trey
46                               Kindergarten Teacher               Carina
47                                   Finacial Analyst                Katie
48                               Kindergarten Teacher                 Madi
49                                             school               REAGAN

        unique
0       1615.0
1     623747.0
2       1615.0
3    8958013.0
4   12859995.0
5     151306.0
6      20409.0
7      53526.0
8       1615.0
9      76041.0
10    252267.0
11   2763885.0
12    241445.0
13  39144818.0
14     28671.0
15    204198.0
16   4425092.0
17  12859995.0
18   8175133.0
19       180.0
20  11727377.0
21    720763.0
22   8870685.0
23    600000.0
24  10807491.0
25   4616106.0
26   5739781.0
27    252267.0
28   8870685.0
29         NaN
30    151306.0
31     37824.0
32   7001803.0
33  10807491.0
34  39664128.0
35  39664128.0
36    252267.0
37   8870685.0
38   1960790.0
39   8175133.0
40  39664128.0
41       962.0
42     28671.0
43   2109093.0
44   9995212.0
45    252267.0
46  39664128.0
47  39664128.0
48     20102.0
49  12518071.0

In [193]:
# First Name, Age
# Assumes that videos are posted this year for age
# Assumes location is in the US and area follows normal distribution for ages in the US 
# Use problem set one to set the probability that someone with their name and gender would be there age 
US_pop = 329500000

def create_name_popularity_df(name_list: List[str], sex: str) -> pd.DataFrame:
    # Formats and extracts for each year the amount of people born with a particular name.
    # INPUT
    #   name_list : list of names. They must be of the same gender
    #   sex : 'F' for Female, 'M' for Male. 
    # OUTPUT
    #   names_df: pandas DataFrame indexed by year with names for columns
    names_df = pd.DataFrame()
    for year in range(1900, 2021):
        year_table = pd.read_csv("names/yob%s.txt" % str(year),sep=',',header=None,names=['name','sex','n'])
        year_table = year_table[year_table['name'].isin(name_list)]
        year_table = year_table[year_table['sex']==sex]
        if year_table.shape[0]==0:
            year_table['name']=name_list
        year_table['year'] = year
        names_df = names_df.append(year_table)
    names_df = names_df.pivot(index='year', columns='name', values='n')
    names_df = names_df.fillna(0)
    return names_df

for row in actual.iterrows():
    df = create_name_popularity_df([row[1]["Name"]], row[1]["Gender"])
    year_born = 2020-int(row[1]["Age"])
    number_of_person_with_name_age = df.loc[df.index == year_born][row[1]["Name"]].iloc[0]
    print(number_of_person_with_name_age)
    
    # Assumes age and name distribution are consistent everywhere 
    #actual.loc[row[0],'unique'] = number_of_person_with_name_age*actual.loc[row[0],'unique']/US_pop
    actual.loc[row[0],'unique_age_name']  = number_of_person_with_name_age

print(actual)

1058.0
0.0
331.0
22.0
883
0.0
0.0
20309
1753.0
0.0
186
13.0
28732.0
8665
556
30517
12325.0
25229
22208.0
0.0
730.0
8.0
2745
4274.0
6144
20.0
0.0
3908
32.0
15426
23.0
57.0
0.0
13473
11255
0.0
56.0
638.0
1054
0.0
46.0
18823
114
8176
755.0
1516.0
558.0
4479
0.0
0.0
    Age Height Gender        Location  \
0    22    6'0      F           Texas
1    24    5'2      F       Las Vegas
2    13    5'9      F           Texas
3    14    5'1      F      New Jersey
4    24    5'1      F        Illinois
5    17    5'5      F     Kansas City
6    21    5'3      F      Pittsburgh
7    29    5'2      F      Washington
8    20    5'0      F           Texas
9    23    5'6      F       Kalamazoo
10   22    5'6      F         Florida
11   16    5'6      F            Utah
12   27    6'3      M            Reno
13   18    5'6      F      California
14   24  5'5.9      F       Rochester
15   36    5'9      M   Moreno Valley
16   18    5'4      F        Kentucky
17   29    5'4      F        Illinois
18   16    6'0      M        New York
19   22    5'0      F          Kansas
20   20   5'10      M            Ohio
21   30    5'3      F          Alaska
22   28    5'8      F      New Jersey
23   19    5'9      F       Vancouver
24   24    5'6      F  North Carolina
25   29   5'10      F       Louisiana
26   15    5'1      F       Minnesota
27   15    5'2      F         Florida
28   32    5'5      F      New Jersey
29   23    5'6      F           Haiti
30   15    5'9      M     Kansas City
31   21    6'3      M         Indiana
32   19    5'7      F       Tennessee
33   15    5'9      M  North Carolina
34   21   5'11      F      California
35   18    5'2      F      California
36   24    5'5      M         Florida
37   18    5'4      F      New Jersey
38   23    5'6      F        Nebraska
39   18   5'11      M   New York City
40   19    5'6      F      California
41   18    5'4      F            Ohio
42   35    5'5      F       Rochester
43   19    5'5      F      New Mexico
44   31    5'5      F        Michigan
45   17    6'2      M         Florida
46   27    5'0      F      California
47   25    5'8      F      California
48   24    5'6      F          Oregon
49   14    5'2      F        Illinois

                                           Profession                 Name  \
0                         Advanced EMT soon Paramedic               Brandy
1                                             Teacher          Sofia Bella
2                                             Student                Rayna
3                                          Influencer             Pressley
4                                         Hairstylist              Theresa
5                                               Sonic  Madilyn Rose Hocker
6                                      Spanish Teacer             Lillian
7                                  Military Recruiter                Emily
8                                   Youtuber/Tiktoker               Camryn
9                    Grad student and Content Creator           Anna Sitar
10                                             Artist                 Lana
11                                        Teach Dance               Kynzie
12                           Editor at a news station              Brandon
13                      Undergrad linguistics studies               Sophia
14                                    Content Creator                 Nora
15                                             Waiter               Joseph
16                                         babysitter               Lauren
17                                Third grade teacher                Sarah
18                                            Student                Ethan
19                                Fifth grade teacher            Ms. Lopez
20                                   Volleyball coach                Bobby
21                                   Machine Operator                 Keni
22                                                NaN              Rachael
23                                             school                Paige
24                                             School                 Emma
25                                    Content Creator                Danah
26                                Modeling and Acting           Ava Justin
27                                             School               Amelia
28                          Video Editor/Photographer                 Dori
29        Program Coordinator and Community Organizer            Elizabeth
30                                             School                Mikey
31  International Politics and Math Student at Geo...                  Zev
32                                     Hooters server               Cahrli
33                                            Student                Logan
34                                      Data Analysis               Olivia
35                                   Dancer and Actor          Kaycee Rice
36                                   McDonalds worker                 Gray
37                                             School               Meagan
38                                          Care Tech               Maggie
39                                      Discount Tire                   CJ
40                                           Musician              Margaux
41                                         Chic-fil-a               Hannah
42                          Model and Content Creator             Juliette
43                                            Youtube                Chloe
44                        Middle School Choir Teacher                Taryn
45                                             School                 Trey
46                               Kindergarten Teacher               Carina
47                                   Finacial Analyst                Katie
48                               Kindergarten Teacher                 Madi
49                                             school               REAGAN

        unique  unique_age_name
0       1615.0           1058.0
1     623747.0              0.0
2       1615.0            331.0
3    8958013.0             22.0
4   12859995.0            883.0
5     151306.0              0.0
6      20409.0              0.0
7      53526.0          20309.0
8       1615.0           1753.0
9      76041.0              0.0
10    252267.0            186.0
11   2763885.0             13.0
12    241445.0          28732.0
13  39144818.0           8665.0
14     28671.0            556.0
15    204198.0          30517.0
16   4425092.0          12325.0
17  12859995.0          25229.0
18   8175133.0          22208.0
19       180.0              0.0
20  11727377.0            730.0
21    720763.0              8.0
22   8870685.0           2745.0
23    600000.0           4274.0
24  10807491.0           6144.0
25   4616106.0             20.0
26   5739781.0              0.0
27    252267.0           3908.0
28   8870685.0             32.0
29         NaN          15426.0
30    151306.0             23.0
31     37824.0             57.0
32   7001803.0              0.0
33  10807491.0          13473.0
34  39664128.0          11255.0
35  39664128.0              0.0
36    252267.0             56.0
37   8870685.0            638.0
38   1960790.0           1054.0
39   8175133.0              0.0
40  39664128.0             46.0
41       962.0          18823.0
42     28671.0            114.0
43   2109093.0           8176.0
44   9995212.0            755.0
45    252267.0           1516.0
46  39664128.0            558.0
47  39664128.0           4479.0
48     20102.0              0.0
49  12518071.0              0.0

In [181]:
# Profession
# Height

In [8]:
import statistics
df = [0]*49 + [1]
print(df)
st_dev = statistics.pstdev(df)
print(st_dev)

1.96*st_dev/(50**.5)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]
0.13999999999999999

0.038806020151517726